
.hidden{
	display: none !important;
}

#ribbon h1{
	margin-bottom: 16px;
}

#main-nav ul.navigation > li > ul > li > a{
	transition: background-color 0.2s,  color 0.2s;
	-moz-transition: background-color 0.2s,  color 0.2s;
	-webkit-transition: background-color 0.2s,  color 0.2s;
}

/*=======================================================*/
/*== ISU Navigation =====================================*/
/*=======================================================*/

#main-nav{
	overflow: visible;
}

#main-nav ul.navigation{
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0 0 0px;
	text-align: center;
}

#main-nav ul.navigation > li{
	border-left: 1px solid #7e0e19;
	display: inline-block;
	position: relative;
}

#main-nav ul.navigation > li > a{
	border-left: 1px solid #ac3440;
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	min-width: 85px;
	outline: none;
	padding: 4px 36px 6px;
	text-decoration: none;
	text-shadow: 0 0 0 #fff, -1px 1px 3px #333;
}

#main-nav ul.navigation > li > a:focus{
	outline: 1px solid #dfbd00;
	position: relative;
	z-index: 20;
}

#main-nav ul.navigation > li.active > a,
#main-nav ul.navigation > li:hover > a{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAgCAYAAADT5RIaAAAAP0lEQVQY0wXBAQGAAAwEIf5CWMD2lpzge94LYsoJYpoTxGSU093UyJHRjmza0e20TY62E5OjoSEmO800Jyb4AcSzETNSokJqAAAAAElFTkSuQmCC");
	background-image: -moz-linear-gradient(#a41522, #b01724);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a41522), to(#b01724));
	background-position: center top;
	background-repeat: repeat-x;
	position: relative;
	z-index: 110;
}

#main-nav ul.navigation > li:hover > a[href="javascript:;"]{
	cursor: default;
}

#main-nav ul.navigation > li:last-child{
	border-right: 1px solid #ac3440;
}

#main-nav ul.navigation > li:last-child > a{
	border-right: 1px solid #7e0e19;
}

#main-nav ul.navigation > li > ul{
	background-color: #e4dfcf;
	background-image: -moz-linear-gradient(#f2f2f2, #e4dfcf);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e4dfcf));
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	display: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2, endColorstr=#e4dfcf);
	list-style: none;
	margin: 0;
	padding: 0 0 4px;
	position: absolute;
	text-align: left;
	width: 100%;
	z-index: 100;
}

#main-nav ul.navigation > li.active > ul,
#main-nav ul.navigation > li:hover > ul{
	display: block;
}

#main-nav ul.navigation > li > ul > li > a{
	color: #444;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 12px;
	text-decoration: none;
}

#main-nav ul.navigation > li > ul > li > a:focus{
	background-color: rgba(223, 189, 0, 0.2);
	outline: 1px solid #dfbd00;
}

#main-nav ul.navigation > li > ul > li > a:hover{
	background: #bebbaf;
	color: #222;
}

/*=======================================================*/
/*== Footer =============================================*/
/*=======================================================*/

#footer .last{
	text-align: center;
}