<div class="pageoverflow">

	<h2>.htaccess{if $hterror} - {$desc_hterror}{/if}:</h2>
	{if $hterror}<div style="color:red;">{$hterror}</div><div style="color:#999999;font-style:italic;">{$morehelp}</div>{else}<div style="color:green;">{$htaccess_ok}</div>{/if}

	<p>&nbsp;</p>

	<h2>config.php{if $cerror} - {$desc_cerror}{/if}:</h2>
	{if $cerror}<div style="color:red;">{$cerror}</div><div><br />{$cbutton}</div>{else}<div style="color:green;">{$config_ok}</div>{/if}

</div>