
                    .nivoSlider {
                            position:relative;
                            background: url(http://basis.web2do.be/modules/Showtime/templates/nivoslider/loading.gif) no-repeat 50% 50%;
                        width:640px;
                        height:320px;
                            margin:auto;
                            margin-left:83.4648829431px;
                            border: 2px solid #ffffff;
                    }
                    .nivoSlider:before {
                            border: 1px solid #e7e7e7;  
                            content: '';  
                        width:640px;
                        height:320px;
                            left: -1px; top: -1px;  
                            position: absolute;  
                    }
                    .nivoSlider:after {
                            border: 1px solid #999999;  
                            content: '';  
                        width:639px;
                        height:319px;
                            position: absolute;  
                    }
                    
                    .slider-wrapper {
                            background-image: url(http://basis.web2do.be/modules/Showtime/templates/nivoslider/orman_slider.png);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            height:378.10738255px;
                            margin:0 auto;
                            padding-top:16px;
                            position:relative;
                            width:810.929765886px;
                    }

                    .nivoSlider img {
                            position:absolute;
                            top:0px;
                            left:0px;
                            display:none;
                        width:640px;/* Make sure your images are the same size */
                        height:320px;/* Make sure your images are the same size */
                    }

                    .nivoSlider a {
                            border:0;
                            display:block;
                    }

                    /* Direction nav styles (e.g. Next & Prev) */
                    .nivo-controlNav {
                            position:absolute;
                            left:50%;
                                    bottom:-42px;
                                    margin-left:-34px; /* Tweak this to center bullets */
                    }

                    .slider-wrapper :hover .nivo-controlNav {
                    }

                    .nivo-controlNav a {
                            display:block;
                            background: url(http://basis.web2do.be/modules/Showtime/templates/nivoslider/orman_bullets.png) no-repeat !important;
                            text-indent:-9999px;
                            border:0;
                            float:left;
                                    width:10px;
                                    margin-right:3px;
                                    height:10px;
                                    margin-right:7px;

                            position:relative;
                            z-index:9;
                            cursor:pointer;
                    }

                    /* Control nav styles (e.g. 1,2,3...) */

                    .nivo-controlNav a.active {
                                    background-position:0 -10px !important;
                    }

            .nivo-controlNav img {
                            display:inline; /* Unhide the thumbnails */
                            position:relative;
                            margin-right:10px;
                    }

                    .nivo-directionNav a {
                            display:block;
                                    width:54px;
                                    height:200px;
                                    background: url(http://basis.web2do.be/modules/Showtime/templates/nivoslider/orman_arrows.png) no-repeat 0% 50% !important;
                                    margin-top: -100px;
                                    top:50%;
                            text-indent:-9999px;
                            border:0;
                            position:absolute;
                            z-index:9;
                            cursor:pointer;

                    }



                    a.nivo-nextNav {
                                    background-position:100% 50%  !important;
                                    right:-41px;
                                    padding-right:20px;
                    }
                    a.nivo-nextNav:hover {
                    }



                    a.nivo-prevNav {
                                    left:-41px;
                                    padding-left:20px;
                    }
                    a.nivo-prevNav:hover {
                    }

                    /* If an image is wrapped in a link */
                    .nivoSlider a.nivo-imageLink {
                            position:absolute;
                            top:0px;
                            left:0px;
                            width:100%;
                            height:100%;
                            border:0;
                            padding:0;
                            margin:0;
                            z-index:6;
                            display:none;
                    }
                    /* The slices and boxes in the Slider */
                    .nivo-slice {
                            display:block;
                            position:absolute;
                            z-index:5;
                            height:100%;
                    }
                    .nivo-box {
                            display:block;
                            position:absolute;
                            z-index:5;
                    }


                    /* Caption styles */
.nivo-caption {
	position:absolute;
	/*background-color:#000000;*/
	/*use RGBA value if you dont want opacity inheritance*/
 	background-color: rgba(0, 0, 0, 0.60);
	font-family:_sans,Helvetica,Arial;
	font-size:12px;
	color:#eeeeee !important;
	
	/* For caption position bottom*/
	bottom:0;
	
	/* For caption position right side*/
	/*
	right:0;
	*/
	
	/* For left and right caption position*/
	/*	
	width:-moz-min-content;
	height:100%;
	width: 30%;"
	*/
	
	/* for top or bottom caption position */
	width:100%;

	z-index:8;			
}

.nivo-caption a {
	color:#fff;
	border-bottom:1px dotted #fff;
	display:inline !important;
}
.nivo-caption a:hover {
	color:#fff;
}
.nivo-caption p {
	padding:5px ;
	margin:0;
	color:#eeeeee !important;
}
.nivo-caption p h2{
	font-family:_sans,Helvetica,Arial !important !important;
	font-size:16px !important;
	color:#eeeeee !important;
}

.nivo-caption p img{
	display:block;
	width:auto;
	height:auto;
	margin: 5px;
	position: relative;
}

.nivo-html-caption {
	display:none;
}
						
