
                div#slideshow_nav_4{
                        position:absolute;
                        z-index: 10;
                        bottom:0;
                        right:0;
                        padding:5px;
                }
                .slide_nav_4 {
                        clear:both;
                        margin:5px 0;
                }
                .slide_nav_4 a {
                            -webkit-border-radius: 8px;
                            -moz-border-radius: 8px; 
                            border-radius: 8px;
                        background:none repeat scroll 0 0 #ededed;
                        border:2px solid #444040;
                        color:#ededed!important;
                        font-size:1px;
                        font-weight:bold;
                        margin:2px;
                        padding:5px 5px;
                        line-height:10px;
                        text-decoration:none;
                }
                .slide_nav_4 a.activeSlide {
                        background:none repeat scroll 0 0 #61d3ff;
                        color:#61d3ff !important;
                }
                .slide_nav_4 a:focus {
                        outline:medium none;
                }

                div#slideshow_4 {
                        width:646px; height: 200px; /*padding: 15px 0 0 12px;*/
                        position: relative; z-index: 5;
                        overflow: hidden;
                        margin: 0 auto;
                        background:#000000;
                }
                        div#slideshow_4 img{
                                border:none!important;
                                padding:0;
                                margin:0;
                        }
                        div#slideshow_4 ul#prevnextnav_4 {
                                padding: 0;
                                display: none;
                                list-style: none;
                                position: relative; top: 95px; z-index: 15;
                                outline:medium none;
                                margin:0;
                        }
                                div#slideshow_4 ul#prevnextnav_4 li#prev_4 {
                                        position:absolute; left:33px; margin: 0;padding: 0;
                                }
                                div#slideshow_4 ul#prevnextnav_4 li#next_4 {
                                        position:absolute; left:574px; margin: 0 20px 0 0;padding: 0;
                                }
                                div#slideshow_4 ul#prevnextnav_4 li a {
                                        display: block; width: 40px; height: 40px; text-indent: -9999px;
                                }
                                        div#slideshow_4 ul#prevnextnav_4 li#prev_4 a {

                                                background: url(http://basis.web2do.be/modules/Showtime/templates/jquery/images/prev_40.png);

                                        }
                                        div#slideshow_4 ul#prevnextnav_4 li#next_4 a {

                                                background: url(http://basis.web2do.be/modules/Showtime/templates/jquery/images/next_40.png);

                                        }

                        div#slideshow_4 ul#slides_4{
                                list-style: none;padding: 0; margin:0; z-index:5;
                                width:646px; height: 200px;
                        }
                                div#slideshow_4 ul#slides_4 li {
                                        width:646px; height: 200px;
                                        margin: 0 0 20px 0;
                                }

                a {outline: none; }
                div#comments_st_4{
                        position:absolute;
                        font-size:12px;
                        z-index: 10;
                        color:#eeeeee;
                        font-family:_sans, Helvetica, Arial;	
                                width:100%			
                }
                div#comments_st_4 h2{
                        font-size:16px !important;
                        color:#eeeeee !important;
                        margin:0;
                        padding:0;
                }

                .commentsparts_st_4{
                        display:none;
                        background-color:#000000;
                            top:0px;
                            /*opacity: 0.65;*/
                            background-color: rgba(0, 0, 0, 0.8);
                            filter: alpha(opacity=65);

                        padding:10px;
                        position:relative;
                }