.investigator_row{
}

.investigator_profile{
   height: 200px;
   width: 46%;
   float:left;
   border: 0.5px solid #DDD;
   border-radius:5px;
   -moz-box-shadow: 5px 5px 5px #888;
   -webkit-box-shadow: 5px 5px 5px #888;
   box-shadow: 5px 5px 5px #888;
   padding:10px;
   margin:5px;
}

.investigator_information{
  height: 200px;
  float:right;
  width: 66%;
}

.name{
  font-size:1.7em;
}

.title{
  font-size:1.2em;
  font-style: italic;
}

div.profile_image{
  float:left;
  margin-right: 15px;
  border-radius:10px;
  max-height:200px;
  -moz-box-shadow: 4px 4px 2px #BBB;
  -webkit-box-shadow: 4px 4px 2px #BBB;
  box-shadow: 4px 4px 2px #BBB;
  overflow:hidden;
}

.profile_image img{
   max-width:125px;
}
/* Stylesheet: Investigator Modified On 2013-10-17 15:18:07 */
