<ul><li>Version 1.3.2 - Aug 2012:</li><ul><li>Fixed a Warning in event edition when no fields defs are used</li><li>Bug fixes<br></li></ul><li>Version 1.3.1 - Aug 2012:</li><ul><li>Bug #8211 corrected<br></li></ul><li>Version 1.3 - July 2012:</li><ul><li>Removed MinimumCmsVersion<br></li></ul><li>Version 1.2 - July 2012 :</li><ul><li>Added some JQuery scripts</li><li>Bug correction in the "generate alias" javascript function<br></li></ul><li>Version 1.1 - June 2012 :</li><ul><li>Bug fixes<br></li></ul><li>Version 1.0 - June 2012 : initial release</li>
</ul>