<ul>
  <li>version 1.2.7 - Aug 2012:</li><ul><li>Bug fix: now when a FEU user tries to register to more than the total capacity, an error is displayed<br></li></ul><li>version 1.2.6 - Aug 2012:</li><ul><li>Bug fixes for CMSMS 1.11</li><li>Various minor bug fixes<br></li></ul><li>version 1.2.5 - Aug 2012:</li><ul><li>Fixed bug when you're using the registration form in the detail view, and you want to display the "overquota" message - PLEASE UPDATE YOUR TEMPLATES (see the "orig_" templates in the module templates dir)<br></li><li>Bug fixes with datetime on some cases where the DB server is not on the same timezone than the file server</li><li>Removed some Smarty "notices"<br></li></ul><li>version 1.2.3 - July 2012:</li><ul><li>Removed MinimumCmsVersion<br></li></ul><li>version 1.2.2 - July 2012:</li><ul><li>Bug fix with registration admin page</li><li>Fixed bug with the registration page url when not using pretty urls<br></li></ul><li>version 1.2.1 - July 2012:</li><ul><li>Bug correction in registration page url</li></ul><li>version 1.2 - July 2012:</li><ul><li>New option on the "Add registration" backend page to only display non-expired events</li></ul><li>version 1.1 - July 2012:</li><ul><li>New preference to handle overquota per user registrations: when a user asks for 10 and the event limits to 5 per user, then you can choose to register 5 automatically, or to ask confirmation with a message - See the default registration template</li><li>New preference to choose if you want to export or not cancelled registrations to CSV</li><li>New preference to choose if you want tabs on the event edition page<br></li><li>Registration form: changed "Register" to "Modify registration" for the submit button, when you already have registered. The current number is displayed in the input field</li><li>Add a new "cancelled" value (checkbox) for the events. Useful to style cancelled events, and to show them in admin<br></li><li>Bug fixes<br></li></ul><li>version 1.0 - June 2012:</li>
  <ul>
    <li>Add the ability to edit a registration from the admin side</li>
    <li>Events can now have a start / cutoff date for registrations<br>
    </li>
    <li>Seperated event info and registrations infos in two tabs on the
event edition</li><li>New NMS export options: you can now choose if you want to export all/cancelled/registered users</li><li>NMS export: new option to clear the users before exporting (useful to keep a NMS list up to date)<br></li><li>Add a Published/Draft dropdown in event add/edit form</li><li>Add the registrations count for each event on the Smarty objects</li><li>Updated the default summary template to display the number of registered / remaining places</li>
    <li>Events in admin are now sorted by date</li>
    <li>Updated orig register template to display start / cutoff
registrations datetimes, and the status of the registrations of the currently loggedin user (related to an event)<br>
    </li>
    <li>New info in admin events list: upcoming/in progress/past events</li>
    <li>Added some colors in admin<br>
    </li>
    <li>Moved some functions to AireLibs module</li>
    <li>Minor bug fixes</li>
    <li>Fixed CMSMS Events help</li>
    <li>Documentation update / Moved the tips in a new help tab<br></li>
    <li>Note: some of the new functions in this release has been
sponsored by FUSE (thanks)</li></ul><li>Version 0.3 - May 2012:</li><ul>
  
    <li>Now uses AireLibs for the core and for CustomFields</li>
    <li>New "CustomFields" tab to manage your extra fields<br>
    </li>
    <li>New Mail alerts on a new registration and unregistration</li>
    <li>Registration list and export bug fix - Should now be more
efficient</li>
    <li>Little translation bugfix<br>
    </li>
    <li>Various bugfixes</li>
    <li>Note: some of the new functions in this release has been
sponsored by T-O (thanks)
    </li>
  
  </ul><li>Version 0.2.2 - Apr 2012:</li><ul>
  
    <li>Registrations list bug fix<br>
    </li>
  
  </ul><li>Version 0.2.1 - Mar 2012:</li><ul>
  
    <li>Added a new function to delete a registration from the backend</li>
    <li>Bug fixes<br>
    </li>
  
  </ul><li>Version 0.2 - Mar 2012:</li><ul>
  
    <li>Corrected some bugs with FEU and export</li>
    <li>Add a "registrationslist" action - You can now display a list
of the registered users to an event on the FrontEnd !<br>
    </li>
  
  </ul><li>Version 0.1.9 - Jan 2012:</li><ul>
  
    <li>Corrected bug #7502 with the search results URLs</li>
    <li>Corrected other prefixes bugs in links<br>
    </li>
  
  </ul><li>Version 0.1.8 - Jan 2012:</li><ul>
  
    <li>Add a duplicate function for the events - Thanks to Gert for FR
7399<br>
    </li>
    <li>Add new "sortby" and "sortorder" params for the summary view
(default : by name) - Thanks to Craig for the feature request<br>
    </li>
    <li>Corrected a conflict with the News module</li>
    <li>CMSMS 1.10 is now the minimum version required (had some bugs
with 1.9 series - hope you'll be able to upgrade)<br>
    </li>
  
  </ul><li>Version 0.1.7 - Jan 2012:</li><ul>
  
    <li>Corrected a bug in the rewritted details urls when no prefix
was used<br>
    </li>
  
  </ul><li>Version 0.1.6.1 - Jan 2012:</li><ul>
  
    <li>Another correction for the "myevents" param<br>
    </li>
  
  </ul><li>Version 0.1.6 - Jan 2012:</li><ul>
  
    <li>Bug #7415 corrected : couldn't use 'true' for the 'myevents'
param<br>
    </li>
  
  </ul><li>Version 0.1.5 - Jan 2012: <br>
  </li><ul>
  
    <li>Add a new "myevents" param for the summary view (FR #7392). If
"myevents" is true and if the FEUser is connected, then the summary
view displays only the events the FEU is registered to</li>
    <li>Add a nice icon by Everaldo (www.everaldo.com)<br>
    </li>
    <li>Corrected a bug in summary view when there was no event to
display</li>
  
  </ul><li>Version 0.1.4 - Dec 2011:
    <ul>
      <li>Export to NMS : now confirms automatically the NMS account<br>
      </li>
      <li>Corrected a description problem in the french version (in
ModuleManager)<br>
      </li>
    </ul>
  </li><li>Version 0.1.3 - Dec 2011:&nbsp;
    <ul>
      <li>Add an Export to Newsletter Made Simple (NMS) function (you
must have NMS installed and at least one users list)</li>
      <li>Bug fix : the FEU properties were all displayed in the admin
registrations view - Now the preferences are used<br>
      </li>
      <li>Improved backend registrations objects for smarty</li>
    </ul>
  </li><li>Version 0.1.2 - Dec 2011: bug fixes</li><li>Version 0.1.1 - Dec 2011: add some EventHandlers, doc and
optimizations</li><li>Version 0.1 : - Dec 2011 initial release</li><ul>
  
  
  
  
</ul>
</ul>

