<ul>
<li>2.1.1 - August 2012
<p>* Tables for 301 and 404 are not dropped automatically anymore and and can be imported of the module ToolBox.</p></li>
<li>2.1 - August 2012
<p>* Ready for CMSms 1.11.x.<br />
* Fixed some issues (PHP-Notices, other problems).<br />
+ Setting for the domains added to decide, wether a domain without request-string (that means without anything after the domain name) should directed to the first page within the domain-tree or to the standard page which is set in the page overview.</p></li>
<li>2.0.1 - December 2011
<p>* Fixed some bugs in domain linking and statistics.</p></li>
<li>2.0 - November 2011
<p>* Removed tools that are not neccesary for Domain redirecting and created a separate module (called ToolBox).<br />
* Look of Statistics-Tab simplyfied (was confusing me after using it for a longer time).<br />
+ Added setting to clear the CMS cache after a modification on the domains.<br />
+ Added tab for a system check - to check whether .htaccess and config.php are configured correctly.<br />
* Added some help for a better understanding, what you did configure.</p></li>
<li>1.5.3 - November 2011
<p>+ Added an option to use MultiDomains without the event management<br />
+ Added a smarty variable \$mdsite with the current active domain name<br />
* Fixed some PHP notices</p></li>
<li>1.5.2 - November 2011
<p>* Compatible with CMSms 1.10.x.</p></li>
<li>1.5.1 - April 2011
<p>+ Add feature to get an page-title, page-menutext or page-attribute (instead of an page url) - should be useful for the menu manager</p></li>
<li>1.5 - March 2011
<p>+ Add feature to show debug messages<br />
+ Add RegExp to 301 Forwardings<br />
* Some small usability improvements<br />
* Bugfix: 301 Forwarding was not possible with some news articles<br />
* Bugfix: On some servers forwarding with www. was not possible</p></li>
<li>1.4.1 - February 2011
<p>+ Add ignore filter for 404 error tracking<br />
+ Add setting for a maximum amount of 404 errors<br />
* Improvements to the 404 error list and -handling</p></li>
<li>1.4 - February 2011
<p>* Compatible with CMSms 1.9.x.<br />
+ 404 Error Tracking.<br />
+ Placeholder for correct domain names in links (e.g. for the menu manager).<br />
* Different bugs fixed.</p></li>
<li>1.3 - Mai 2010
<p>* Changend to event handling - placeholder is not needed anymore.<br />
+ Added switch for statistics and old url rewrite.<br />
+ Added EMail functionality for monthly statistics.<br />
* Fixed bug with log summary.<br />
* Fixed bug with wrong page extensions.<br />
* Fixed bug with default content.</p></li>
<li>1.2.2 - May 2010
<p>* Fixed a problem with 404 pages.<br />
* Fixed a problem with development server.</p></li>
<li>1.2.1 - May 2010
<p>* Fixed a bug with log summary.</p></li>
<li>1.2 - May 2010
<p>+ Added support for 301 redirect old urls.<br />
+ Added some small statistics.<br />
* Fixed some bugs.</p></li>
<li>1.1 - May 2010
<p>+ Added support for more than one domain for a page(-structure).<br />
+ Added support for development domain.</p></li>
<li>1.0 - May 2010
<p>Initial Release of the module MultiDomains</p></li>
</ul>